# Configuration file

##########################################################################################################
# Impacts
#--------------------------------------------------------------------------------------------------------#
# Action syntax: blockId -> ACTION 
# Replacement syntax: blockId -> blockId 
# Syntax with a threshold: pollutionThreshold% -> blockId -> ACTION or blockId 
# 
# Pollution threshold is the minimum percentage of pollution to trigger the specified effect.
# 
# Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
# ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
# UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
# Use '*' char or '[]' as meta value to specify all possible values (all block states).
# To define multiple block states, you can use block properties. The format is <modId:blockName:[prop1=value1, prop2=value2]>
# Also you may use tags. The format is <#modId:tagPath> (example: #forge:ores/copper).
# 
# Possible actions (case sensitive): BONEMEAL, KILL, POLLUTE
##########################################################################################################

Impacts {

    carbon {
        # Effects spreading through air.
        S:air <
            agricraft:crop:* -> BONEMEAL
            minecraft:grass:* -> BONEMEAL
            minecraft:bamboo:* -> BONEMEAL
            minecraft:fern:* -> BONEMEAL
            #minecraft:crops -> BONEMEAL
            #minecraft:saplings -> BONEMEAL
            #tfc:plant -> BONEMEAL
            #tfc:grass -> BONEMEAL
            #dttfc:rooty_dirt -> BONEMEAL
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:snow -> KILL
            tfc:snow_pile -> KILL
            #minecraft:leaves -> KILL
            #tfc:dead_bush -> minecraft:fire
         >

        # Effects spreading through rain.
        S:rain <
            minecraft:grass_block:* -> BONEMEAL
            minecraft:snow -> KILL
            #minecraft:leaves -> BONEMEAL
            #minecraft:tall_flowers -> BONEMEAL
            #tfc:plant -> BONEMEAL
            #tfc:grass -> BONEMEAL
         >
    }

    dust {
        # Effects spreading through air.
        S:air <
         >

        # Effects spreading through contact.
        S:contact <
            #tfc:plants -> KILL
         >

        # Effects spreading through rain.
        S:rain <
            minecraft:coarse_dirt:* -> minecraft:gravel
         >
    }

    sulfur {
        # Effects spreading through air.
        S:air <
            #tfc:plants -> KILL
         >

        # Effects spreading through contact.
        S:contact <
            #minecraft:leaves -> KILL
            #dyanamictrees:leaves -> KILL
            #tfc:plants -> tfc:dead_bush
            tfc:rock/raw/limestone -> tfc:ore/gypsum/limestone
         >

        # Effects spreading through rain.
        S:rain <
            minecraft:water:* -> POLLUTE
            25% -> tfc:rock/raw/limestone -> tfc:ore/gypsum/limestone
            #minecraft:leaves -> KILL
         >
    }

    miasma {
        # Effects spreading through air.
        S:air <
            #tfc:plants -> KILL
            #dyanamictrees:leaves -> KILL
            #minecraft:leaves -> KILL
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:water:* -> POLLUTE
            minecraft:fire -> minecraft:soul_fire
            #tfc:plants -> KILL
            tfc:grass/silt -> tfc:dirt/silt
            tfc:grass/loam -> tfc:dirt/loam
            tfc:grass/sandy_loam -> tfc:dirt/sandy_loam
            tfc:grass/silty_loam -> tfc:dirt/silty_loam
            tfc:clay_grass/silt -> tfc:clay/silt
            tfc:clay_grass/loam -> tfc:clay/loam
            tfc:clay_grass/sandy_loam -> tfc:clay/sandy_loam
            tfc:clay_grass/silty_loam -> tfc:clay/silty_loam
            tfc:farmland/silt -> tfc:dirt/silt
            tfc:farmland/loam -> tfc:dirt/loam
            tfc:farmland/sandy_loam -> tfc:dirt/sandy_loam
            tfc:farmland/silty_loam -> tfc:dirt/silty_loam
            tfc:dirt/silt -> tfc:mud/silt
            tfc:dirt/loam -> tfc:mud/loam
            tfc:dirt/sandy_loam -> tfc:mud/sandy_loam
            tfc:dirt/silty_loam -> tfc:mud/silty_loam
            tfc:peat_grass -> tfc:peat
            #dyanamictrees:leaves -> KILL
            tfc:rock/mossy_bricks/granite -> tfc:rock/bricks/granite
            tfc:rock/mossy_bricks/diorite -> tfc:rock/bricks/diorite
            tfc:rock/mossy_bricks/gabbro -> tfc:rock/bricks/gabbro
            tfc:rock/mossy_bricks/shale -> tfc:rock/bricks/shale
            tfc:rock/mossy_bricks/claystone -> tfc:rock/bricks/claystone
            tfc:rock/mossy_bricks/limestone -> tfc:rock/bricks/limestone
            tfc:rock/mossy_bricks/conglomerate -> tfc:rock/bricks/conglomerate
            tfc:rock/mossy_bricks/dolomite -> tfc:rock/bricks/dolomite
            tfc:rock/mossy_bricks/chert -> tfc:rock/bricks/chert
            tfc:rock/mossy_bricks/chalk -> tfc:rock/bricks/chalk
            tfc:rock/mossy_bricks/rhyolite -> tfc:rock/bricks/rhyolite
            tfc:rock/mossy_bricks/basalt -> tfc:rock/bricks/basalt
            tfc:rock/mossy_bricks/andesite -> tfc:rock/bricks/andesite
            tfc:rock/mossy_bricks/dacite -> tfc:rock/bricks/dacite
            tfc:rock/mossy_bricks/quartzite -> tfc:rock/bricks/quartzite
            tfc:rock/mossy_bricks/slate -> tfc:rock/bricks/slate
            tfc:rock/mossy_bricks/phyllite -> tfc:rock/bricks/phyllite
            tfc:rock/mossy_bricks/schist -> tfc:rock/bricks/schist
            tfc:rock/mossy_bricks/gneiss -> tfc:rock/bricks/gneiss
            tfc:rock/mossy_bricks/marble -> tfc:rock/bricks/marble

            tfc:rock/mossy_cobble/granite -> tfc:rock/cobble/granite
            tfc:rock/mossy_cobble/diorite -> tfc:rock/cobble/diorite
            tfc:rock/mossy_cobble/gabbro -> tfc:rock/cobble/gabbro
            tfc:rock/mossy_cobble/shale -> tfc:rock/cobble/shale
            tfc:rock/mossy_cobble/claystone -> tfc:rock/cobble/claystone
            tfc:rock/mossy_cobble/limestone -> tfc:rock/cobble/limestone
            tfc:rock/mossy_cobble/conglomerate -> tfc:rock/cobble/conglomerate
            tfc:rock/mossy_cobble/dolomite -> tfc:rock/cobble/dolomite
            tfc:rock/mossy_cobble/chert -> tfc:rock/cobble/chert
            tfc:rock/mossy_cobble/chalk -> tfc:rock/cobble/chalk
            tfc:rock/mossy_cobble/rhyolite -> tfc:rock/cobble/rhyolite
            tfc:rock/mossy_cobble/basalt -> tfc:rock/cobble/basalt
            tfc:rock/mossy_cobble/andesite -> tfc:rock/cobble/andesite
            tfc:rock/mossy_cobble/dacite -> tfc:rock/cobble/dacite
            tfc:rock/mossy_cobble/quartzite -> tfc:rock/cobble/quartzite
            tfc:rock/mossy_cobble/slate -> tfc:rock/cobble/slate
            tfc:rock/mossy_cobble/phyllite -> tfc:rock/cobble/phyllite
            tfc:rock/mossy_cobble/schist -> tfc:rock/cobble/schist
            tfc:rock/mossy_cobble/gneiss -> tfc:rock/cobble/gneiss
            tfc:rock/mossy_cobble/marble -> tfc:rock/cobble/marble

            tfc:rock/mossy_bricks/granite_slab -> tfc:rock/bricks/granite_slab
            tfc:rock/mossy_bricks/diorite_slab -> tfc:rock/bricks/diorite_slab
            tfc:rock/mossy_bricks/gabbro_slab -> tfc:rock/bricks/gabbro_slab
            tfc:rock/mossy_bricks/shale_slab -> tfc:rock/bricks/shale_slab
            tfc:rock/mossy_bricks/claystone_slab -> tfc:rock/bricks/claystone_slab
            tfc:rock/mossy_bricks/limestone_slab -> tfc:rock/bricks/limestone_slab
            tfc:rock/mossy_bricks/conglomerate_slab -> tfc:rock/bricks/conglomerate_slab
            tfc:rock/mossy_bricks/dolomite_slab -> tfc:rock/bricks/dolomite_slab
            tfc:rock/mossy_bricks/chert_slab -> tfc:rock/bricks/chert_slab
            tfc:rock/mossy_bricks/chalk_slab -> tfc:rock/bricks/chalk_slab
            tfc:rock/mossy_bricks/rhyolite_slab -> tfc:rock/bricks/rhyolite_slab
            tfc:rock/mossy_bricks/basalt_slab -> tfc:rock/bricks/basalt_slab
            tfc:rock/mossy_bricks/andesite_slab -> tfc:rock/bricks/andesite_slab
            tfc:rock/mossy_bricks/dacite_slab -> tfc:rock/bricks/dacite_slab
            tfc:rock/mossy_bricks/quartzite_slab -> tfc:rock/bricks/quartzite_slab
            tfc:rock/mossy_bricks/slate_slab -> tfc:rock/bricks/slate_slab
            tfc:rock/mossy_bricks/phyllite_slab -> tfc:rock/bricks/phyllite_slab
            tfc:rock/mossy_bricks/schist_slab -> tfc:rock/bricks/schist_slab
            tfc:rock/mossy_bricks/gneiss_slab -> tfc:rock/bricks/gneiss_slab
            tfc:rock/mossy_bricks/marble_slab -> tfc:rock/bricks/marble_slab
			
            tfc:rock/mossy_cobble/granite_slab -> tfc:rock/cobble/granite_slab
            tfc:rock/mossy_cobble/diorite_slab -> tfc:rock/cobble/diorite_slab
            tfc:rock/mossy_cobble/gabbro_slab -> tfc:rock/cobble/gabbro_slab
            tfc:rock/mossy_cobble/shale_slab -> tfc:rock/cobble/shale_slab
            tfc:rock/mossy_cobble/claystone_slab -> tfc:rock/cobble/claystone_slab
            tfc:rock/mossy_cobble/limestone_slab -> tfc:rock/cobble/limestone_slab
            tfc:rock/mossy_cobble/conglomerate_slab -> tfc:rock/cobble/conglomerate_slab
            tfc:rock/mossy_cobble/dolomite_slab -> tfc:rock/cobble/dolomite_slab
            tfc:rock/mossy_cobble/chert_slab -> tfc:rock/cobble/chert_slab
            tfc:rock/mossy_cobble/chalk_slab -> tfc:rock/cobble/chalk_slab
            tfc:rock/mossy_cobble/rhyolite_slab -> tfc:rock/cobble/rhyolite_slab
            tfc:rock/mossy_cobble/basalt_slab -> tfc:rock/cobble/basalt_slab
            tfc:rock/mossy_cobble/andesite_slab -> tfc:rock/cobble/andesite_slab
            tfc:rock/mossy_cobble/dacite_slab -> tfc:rock/cobble/dacite_slab
            tfc:rock/mossy_cobble/quartzite_slab -> tfc:rock/cobble/quartzite_slab
            tfc:rock/mossy_cobble/slate_slab -> tfc:rock/cobble/slate_slab
            tfc:rock/mossy_cobble/phyllite_slab -> tfc:rock/cobble/phyllite_slab
            tfc:rock/mossy_cobble/schist_slab -> tfc:rock/cobble/schist_slab
            tfc:rock/mossy_cobble/gneiss_slab -> tfc:rock/cobble/gneiss_slab
            tfc:rock/mossy_cobble/marble_slab -> tfc:rock/cobble/marble_slab

            tfc:rock/mossy_bricks/granite_stair -> tfc:rock/bricks/granite_stair
            tfc:rock/mossy_bricks/diorite_stair -> tfc:rock/bricks/diorite_stair
            tfc:rock/mossy_bricks/gabbro_stair -> tfc:rock/bricks/gabbro_stair
            tfc:rock/mossy_bricks/shale_stair -> tfc:rock/bricks/shale_stair
            tfc:rock/mossy_bricks/claystone_stair -> tfc:rock/bricks/claystone_stair
            tfc:rock/mossy_bricks/limestone_stair -> tfc:rock/bricks/limestone_stair
            tfc:rock/mossy_bricks/conglomerate_stair -> tfc:rock/bricks/conglomerate_stair
            tfc:rock/mossy_bricks/dolomite_stair -> tfc:rock/bricks/dolomite_stair
            tfc:rock/mossy_bricks/chert_stair -> tfc:rock/bricks/chert_stair
            tfc:rock/mossy_bricks/chalk_stair -> tfc:rock/bricks/chalk_stair
            tfc:rock/mossy_bricks/rhyolite_stair -> tfc:rock/bricks/rhyolite_stair
            tfc:rock/mossy_bricks/basalt_stair -> tfc:rock/bricks/basalt_stair
            tfc:rock/mossy_bricks/andesite_stair -> tfc:rock/bricks/andesite_stair
            tfc:rock/mossy_bricks/dacite_stair -> tfc:rock/bricks/dacite_stair
            tfc:rock/mossy_bricks/quartzite_stair -> tfc:rock/bricks/quartzite_stair
            tfc:rock/mossy_bricks/slate_stair -> tfc:rock/bricks/slate_stair
            tfc:rock/mossy_bricks/phyllite_stair -> tfc:rock/bricks/phyllite_stair
            tfc:rock/mossy_bricks/schist_stair -> tfc:rock/bricks/schist_stair
            tfc:rock/mossy_bricks/gneiss_stair -> tfc:rock/bricks/gneiss_stair
            tfc:rock/mossy_bricks/marble_stair -> tfc:rock/bricks/marble_stair
			
            tfc:rock/mossy_cobble/granite_stair -> tfc:rock/cobble/granite_stair
            tfc:rock/mossy_cobble/diorite_stair -> tfc:rock/cobble/diorite_stair
            tfc:rock/mossy_cobble/gabbro_stair -> tfc:rock/cobble/gabbro_stair
            tfc:rock/mossy_cobble/shale_stair -> tfc:rock/cobble/shale_stair
            tfc:rock/mossy_cobble/claystone_stair -> tfc:rock/cobble/claystone_stair
            tfc:rock/mossy_cobble/limestone_stair -> tfc:rock/cobble/limestone_stair
            tfc:rock/mossy_cobble/conglomerate_stair -> tfc:rock/cobble/conglomerate_stair
            tfc:rock/mossy_cobble/dolomite_stair -> tfc:rock/cobble/dolomite_stair
            tfc:rock/mossy_cobble/chert_stair -> tfc:rock/cobble/chert_stair
            tfc:rock/mossy_cobble/chalk_stair -> tfc:rock/cobble/chalk_stair
            tfc:rock/mossy_cobble/rhyolite_stair -> tfc:rock/cobble/rhyolite_stair
            tfc:rock/mossy_cobble/basalt_stair -> tfc:rock/cobble/basalt_stair
            tfc:rock/mossy_cobble/andesite_stair -> tfc:rock/cobble/andesite_stair
            tfc:rock/mossy_cobble/dacite_stair -> tfc:rock/cobble/dacite_stair
            tfc:rock/mossy_cobble/quartzite_stair -> tfc:rock/cobble/quartzite_stair
            tfc:rock/mossy_cobble/slate_stair -> tfc:rock/cobble/slate_stair
            tfc:rock/mossy_cobble/phyllite_stair -> tfc:rock/cobble/phyllite_stair
            tfc:rock/mossy_cobble/schist_stair -> tfc:rock/cobble/schist_stair
            tfc:rock/mossy_cobble/gneiss_stair -> tfc:rock/cobble/gneiss_stair
            tfc:rock/mossy_cobble/marble_stair -> tfc:rock/cobble/marble_stair

            tfc:rock/mossy_bricks/granite_wall -> tfc:rock/bricks/granite_wall
            tfc:rock/mossy_bricks/diorite_wall -> tfc:rock/bricks/diorite_wall
            tfc:rock/mossy_bricks/gabbro_wall -> tfc:rock/bricks/gabbro_wall
            tfc:rock/mossy_bricks/shale_wall -> tfc:rock/bricks/shale_wall
            tfc:rock/mossy_bricks/claystone_wall -> tfc:rock/bricks/claystone_wall
            tfc:rock/mossy_bricks/limestone_wall -> tfc:rock/bricks/limestone_wall
            tfc:rock/mossy_bricks/conglomerate_wall -> tfc:rock/bricks/conglomerate_wall
            tfc:rock/mossy_bricks/dolomite_wall -> tfc:rock/bricks/dolomite_wall
            tfc:rock/mossy_bricks/chert_wall -> tfc:rock/bricks/chert_wall
            tfc:rock/mossy_bricks/chalk_wall -> tfc:rock/bricks/chalk_wall
            tfc:rock/mossy_bricks/rhyolite_wall -> tfc:rock/bricks/rhyolite_wall
            tfc:rock/mossy_bricks/basalt_wall -> tfc:rock/bricks/basalt_wall
            tfc:rock/mossy_bricks/andesite_wall -> tfc:rock/bricks/andesite_wall
            tfc:rock/mossy_bricks/dacite_wall -> tfc:rock/bricks/dacite_wall
            tfc:rock/mossy_bricks/quartzite_wall -> tfc:rock/bricks/quartzite_wall
            tfc:rock/mossy_bricks/slate_wall -> tfc:rock/bricks/slate_wall
            tfc:rock/mossy_bricks/phyllite_wall -> tfc:rock/bricks/phyllite_wall
            tfc:rock/mossy_bricks/schist_wall -> tfc:rock/bricks/schist_wall
            tfc:rock/mossy_bricks/gneiss_wall -> tfc:rock/bricks/gneiss_wall
            tfc:rock/mossy_bricks/marble_wall -> tfc:rock/bricks/marble_wall
			
            tfc:rock/mossy_cobble/granite_wall -> tfc:rock/cobble/granite_wall
            tfc:rock/mossy_cobble/diorite_wall -> tfc:rock/cobble/diorite_wall
            tfc:rock/mossy_cobble/gabbro_wall -> tfc:rock/cobble/gabbro_wall
            tfc:rock/mossy_cobble/shale_wall -> tfc:rock/cobble/shale_wall
            tfc:rock/mossy_cobble/claystone_wall -> tfc:rock/cobble/claystone_wall
            tfc:rock/mossy_cobble/limestone_wall -> tfc:rock/cobble/limestone_wall
            tfc:rock/mossy_cobble/conglomerate_wall -> tfc:rock/cobble/conglomerate_wall
            tfc:rock/mossy_cobble/dolomite_wall -> tfc:rock/cobble/dolomite_wall
            tfc:rock/mossy_cobble/chert_wall -> tfc:rock/cobble/chert_wall
            tfc:rock/mossy_cobble/chalk_wall -> tfc:rock/cobble/chalk_wall
            tfc:rock/mossy_cobble/rhyolite_wall -> tfc:rock/cobble/rhyolite_wall
            tfc:rock/mossy_cobble/basalt_wall -> tfc:rock/cobble/basalt_wall
            tfc:rock/mossy_cobble/andesite_wall -> tfc:rock/cobble/andesite_wall
            tfc:rock/mossy_cobble/dacite_wall -> tfc:rock/cobble/dacite_wall
            tfc:rock/mossy_cobble/quartzite_wall -> tfc:rock/cobble/quartzite_wall
            tfc:rock/mossy_cobble/slate_wall -> tfc:rock/cobble/slate_wall
            tfc:rock/mossy_cobble/phyllite_wall -> tfc:rock/cobble/phyllite_wall
            tfc:rock/mossy_cobble/schist_wall -> tfc:rock/cobble/schist_wall
            tfc:rock/mossy_cobble/gneiss_wall -> tfc:rock/cobble/gneiss_wall
            tfc:rock/mossy_cobble/marble_wall -> tfc:rock/cobble/marble_wall
			
         >

        # Effects spreading through rain.
        S:rain <
            minecraft:fire -> minecraft:soul_fire
            #tfc:plants -> KILL
            tfc:grass/silt -> tfc:dirt/silt
            tfc:grass/loam -> tfc:dirt/loam
            tfc:grass/sandy_loam -> tfc:dirt/sandy_loam
            tfc:grass/silty_loam -> tfc:dirt/silty_loam
            tfc:clay_grass/silt -> tfc:clay/silt
            tfc:clay_grass/loam -> tfc:clay/loam
            tfc:clay_grass/sandy_loam -> tfc:clay/sandy_loam
            tfc:clay_grass/silty_loam -> tfc:clay/silty_loam
            #dyanamictrees:leaves -> KILL
         >
    }

}


